@import "tailwindcss";

@variant dark (&:is(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #15181A;
  --foreground: #ededed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}